h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00c7bd;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #00ff59;
}

select {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ff00aa;
  border-radius: 4px;
  font-size: 1rem;
  color: black;
}

select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

option {
  padding: 0.5rem;
}

p {
  font-size: 1rem;
  color: #666;
  margin: 1rem 0;
}

pre {
  background: #0080ff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 6px;
}

pre::-webkit-scrollbar-thumb {
  background: #ff0808;
  border-radius: 3px;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #ce1010;
}
