.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  padding-top: 80px;
  width: 100%;
  max-width: 500px;
}

.search-input {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #f7f7f7, #fff);
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.search-button {
  position: relative;
  right: 50px;
  top: 30%;
  padding: 12px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.search-button i {
  font-size: 18px;
}


.menu-container {
  padding: 2rem;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
}

.menu-list {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  gap: 4rem;
  list-style: none;
  padding: 0;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.4), 0 4px 10px rgba(0, 255, 0, 0.4), 0 4px 10px rgba(0, 0, 255, 0.4);
  background: #fff;
}

.menu-item img {
  height: 230px;
  width: 250px;
}

.menu-item h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.menu-item p {
  margin: 0.5rem 0;
  color: #666;
}
